
<html>
<head>
  <title>Formulario</title>
  <link rel="stylesheet" type="text/css" href="http://90mas10.com/css/estilo.css?=1">
</head>
<body>

  <h2>##mensaje##</h2>

<form class="form_contacto" method="post" action="" id="">
    <table width="350" border="0" align="left" cellpadding="0" cellspacing="0" class="formulario" style="">
    <tbody><tr>
    <td width="12%" style="text-align:right">nombre</td>
    <td width="88%">
      <label>
        <input type="text" name="nombre" id="form_nombre" class="commontext" size="50">
      </label>
    </td>
    </tr>
    <tr>
    <td style="text-align:right">e-mail</td>
    <td>
      <label>
        <input name="email" type="text" class="commontext" id="form_email" value="@" size="60">
      </label>
    </td>
    </tr>
    <tr>
      <td style="text-align:right">asunto</td>
      <td><label>
        <select name="asunto" class="commontext">
          <option value="" >--Elija un asunto--</option>
          <option  value="quiero sucribirme">Quiero suscribirme</option>
          <option  value="quiero enviar informacion de prensa a 90+10">Quiero enviar información de prensa a 90+10</option>
          <option  value="quiero pautar publicidad de 90+10">Quiero pautar publicidad en 90+10</option>
          <option value="otros">Otros</option>
        </select>
        </label></td>
    </tr>
    <tr>
    <td>&nbsp;</td>
    <td><label>
      <textarea class="commontext" name="mensaje" id="form_mensaje" cols="55" rows="5"></textarea>
    </label></td>
    </tr>
    <tr>
    <td>&nbsp;</td>
    <td height="50" style="text-align:right">
    <input type="submit" class="submit" value="enviar">
    </td>
    </tr>
    </tbody>
  </table>  
  </form>
</body>
</html>